div {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 48px;
  flex-direction: column;
}
img{
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


